In this data file, I show the data contents that are in the data directory.

In [5]:
import pandas as pd

In [6]:
# For dem_data_deu.csv data file
data_dem_data_deu = pd.read_csv('data/dem_data_deu.csv')
data_dem_indicators = pd.read_csv('data/dem_indicatorlist_deu.csv')
print(data_dem_indicators.tail(5))
data_dem_data_deu = data_dem_data_deu.merge(data_dem_indicators, on='indicator_id', how='left')
data_dem_data_deu.head()

      indicator_id                                 indicator_label_en
31  SP.DYN.LE00.IN            Life expectancy at birth, total (years)
32  SP.DYN.TFRT.IN           Fertility rate, total (births per woman)
33     SP.POP.GROW                       Population growth (annual %)
34  SP.RUR.TOTL.ZS           Rural population (% of total population)
35       XTGOV.IMF  General government total expenditure (current ...

,indicator_id,country_id,year,value,magnitude,qualifier,indicator_label_en
0,#indicator+code,#country+code,#date+year,#indicator+value+num,NaN,NaN,#indicator+name
1,200101,DEU,1970,78306.96200,NaN,NaN,Total population (thousands)
2,200101,DEU,1971,78103.24300,NaN,NaN,Total population (thousands)
3,200101,DEU,1972,78588.50100,NaN,NaN,Total population (thousands)
4,200101,DEU,1973,78851.33600,NaN,NaN,Total population (thousands)

In [49]:
# For the education data file
data_education_deu = pd.read_csv('data\\education_deu.csv')
print(data_education_deu.head())

    Country Name   Country ISO3        Year  \
0  #country+name  #country+code  #date+year
1        Germany            DEU        2010
2        Germany            DEU        2005
3        Germany            DEU        2000
4        Germany            DEU        1995

                                      Indicator Name       Indicator Code  \
0                                    #indicator+name      #indicator+code
1  Barro-Lee: Percentage of female population age...  BAR.NOED.1519.FE.ZS
2  Barro-Lee: Percentage of female population age...  BAR.NOED.1519.FE.ZS
3  Barro-Lee: Percentage of female population age...  BAR.NOED.1519.FE.ZS
4  Barro-Lee: Percentage of female population age...  BAR.NOED.1519.FE.ZS

                  Value
0  #indicator+value+num
1                   3.4
2                  3.49
3                  3.49
4                 20.78

In [50]:
# For schulen_ms.csv data file
data_schulen_ms = pd.read_csv('data\\schulen_ms.csv')
print(data_schulen_ms.head())

         X        Y  LFDNR                                   NAME  \
0  3406016  5760150    103            Adolph-Kolping-Berufskolleg
1  3405478  5759272     45                 Aegidii-Ludgeri-Schule
2  3407730  5759186     57               Albert-Schweitzer-Schule
3  3407460  5759224    101                Anne-Frank-Berufskolleg
4  3405500  5759118     91  Annette-von-Droste-Hülshoff-Gymnasium

                                                 URL    SchoolType
0  https://www.stadt-muenster.de/schulamt/schule-...  Berufskolleg
1  https://www.stadt-muenster.de/schulamt/schule-...   Grundschule
2  https://www.stadt-muenster.de/schulamt/schule-...  Förderschule
3  https://www.stadt-muenster.de/schulamt/schule-...  Berufskolleg
4  https://www.stadt-muenster.de/schulamt/schule-...     Gymnasium

In [51]:
# For the oecd data file
data_oecd_deu = pd.read_csv('data\\government_expenditure_on_education.csv')
print(data_oecd_deu.head())

  STRUCTURE                                       STRUCTURE_ID  \
0  DATAFLOW  OECD.EDU.IMEP:DSD_EAG_UOE_FIN@DF_UOE_FIN_INDIC...
1  DATAFLOW  OECD.EDU.IMEP:DSD_EAG_UOE_FIN@DF_UOE_FIN_INDIC...
2  DATAFLOW  OECD.EDU.IMEP:DSD_EAG_UOE_FIN@DF_UOE_FIN_INDIC...
3  DATAFLOW  OECD.EDU.IMEP:DSD_EAG_UOE_FIN@DF_UOE_FIN_INDIC...
4  DATAFLOW  OECD.EDU.IMEP:DSD_EAG_UOE_FIN@DF_UOE_FIN_INDIC...

                                      STRUCTURE_NAME ACTION REF_AREA  \
0  Share of total government expenditure on educa...      I      BGR
1  Share of total government expenditure on educa...      I      BGR
2  Share of total government expenditure on educa...      I      CRI
3  Share of total government expenditure on educa...      I      CRI
4  Share of total government expenditure on educa...      I      CRI

  Reference area MEASURE                   Measure EDUCATION_LEV  \
0       Bulgaria     EXP  Expenditure on education   ISCED11_5T8
1       Bulgaria     EXP  Expenditure on education   ISCED11_1T4
2     Costa Rica     EXP  Expenditure on education   ISCED11_1T8
3     Costa Rica     EXP  Expenditure on education   ISCED11_1T4
4     Costa Rica     EXP  Expenditure on education   ISCED11_5T8

                                    Education level  ... OBS_STATUS  \
0                                Tertiary education  ...          A
1  Primary to post-secondary non-tertiary education  ...          A
2                     Primary to tertiary education  ...          O
3  Primary to post-secondary non-tertiary education  ...          O
4                                Tertiary education  ...          O

  Observation status UNIT_MULT Unit multiplier DECIMALS Decimals BASE_PER  \
0       Normal value         0           Units        1      One      NaN
1       Normal value         0           Units        1      One      NaN
2      Missing value         0           Units        1      One      NaN
3      Missing value         0           Units        1      One      NaN
4      Missing value         0           Units        1      One      NaN

  Base period Q_SHEET_ROW_ID Questionnaire row ID
0         NaN             _Z       Not applicable
1         NaN             _Z       Not applicable
2         NaN             _Z       Not applicable
3         NaN             _Z       Not applicable
4         NaN             _Z       Not applicable

[5 rows x 36 columns]

In [52]:
# For graduates by gender data file
data_graduates_deu = pd.read_csv('data\\graduates_by_gender.csv')
print(data_graduates_deu.head())

  STRUCTURE                                       STRUCTURE_ID  \
0  DATAFLOW  OECD.EDU.IMEP:DSD_EAG_UOE_NON_FIN_STUD@DF_UOE_...
1  DATAFLOW  OECD.EDU.IMEP:DSD_EAG_UOE_NON_FIN_STUD@DF_UOE_...
2  DATAFLOW  OECD.EDU.IMEP:DSD_EAG_UOE_NON_FIN_STUD@DF_UOE_...
3  DATAFLOW  OECD.EDU.IMEP:DSD_EAG_UOE_NON_FIN_STUD@DF_UOE_...
4  DATAFLOW  OECD.EDU.IMEP:DSD_EAG_UOE_NON_FIN_STUD@DF_UOE_...

                                      STRUCTURE_NAME ACTION REF_AREA  \
0  Share of enrolled students, new entrants and g...      I      DEU
1  Share of enrolled students, new entrants and g...      I      DEU
2  Share of enrolled students, new entrants and g...      I      DEU
3  Share of enrolled students, new entrants and g...      I      DEU
4  Share of enrolled students, new entrants and g...      I      DEU

  Reference area EDUCATION_LEV                        Education level MEASURE  \
0        Germany     ISCED11_6         Bachelor’s or equivalent level    GRAD
1        Germany     ISCED11_4  Post-secondary non-tertiary education    GRAD
2        Germany     ISCED11_7           Master’s or equivalent level    GRAD
3        Germany    ISCED11_34      Upper secondary general education    GRAD
4        Germany     ISCED11_3              Upper secondary education    GRAD

     Measure  ... CONF_STATUS Confidentiality status COMMENT_OBS  \
0  Graduates  ...         NaN                    NaN         NaN
1  Graduates  ...         NaN                    NaN         NaN
2  Graduates  ...         NaN                    NaN         NaN
3  Graduates  ...         NaN                    NaN         NaN
4  Graduates  ...         NaN                    NaN         NaN

  Observation comment DECIMALS Decimals TIME_PER_COLLECT  \
0                 NaN        2      Two              NaN
1                 NaN        2      Two              NaN
2                 NaN        2      Two              NaN
3                 NaN        2      Two              NaN
4                 NaN        2      Two              NaN

  Time period collection UNIT_MULT Unit multiplier
0                    NaN         0           Units
1                    NaN         0           Units
2                    NaN         0           Units
3                    NaN         0           Units
4                    NaN         0           Units

[5 rows x 58 columns]

In [ ]:
# For the Excel file on Grundschulen
file_name = 'data\\schulstatistik\\1_2_1_Grundschulen_Staedtisch_citeq.xlsx'
data_grundschulen = pd.read_excel(
        file_name,
        header=4,           
        skiprows=[5]        
    )
print(data_grundschulen.head())

  Unnamed: 0                                         Unnamed: 1  Unnamed: 2  \
0  2010/2011                                                 11     Aegidii
1  2010/2011                                                 15     Martini
2  2010/2011  Gesamt Stadtbezirk Mitte, Teilbereich Altstadt            NaN
3  2010/2011                                                 22       Josef
4  2010/2011                                                 24  Hansaplatz

  Unnamed: 3                                         Unnamed: 4 Unnamed: 5  \
0          1  Aegidii-Ludgeri-Schule \nEs wurde eine Montess...         RK
1          2                                      Martinischule         RK
2        NaN                                                NaN        NaN
3          3                                     Johannisschule         EV
4          4                                     Overbergschule         RK

   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 13  \
0        35.0        16.0        1.25        31.0  ...         19.0
1        41.0        19.0        2.00        44.0  ...         17.0
2        76.0        35.0        3.25        75.0  ...         36.0
3        24.0         7.0        1.00        22.0  ...         16.0
4        29.0        10.0        1.00        31.0  ...         16.0

   Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  Sch.   w.  Sch..1  \
0         1.25         31.0         18.0         1.25   127   72       4
1         2.00         19.0         12.0         1.00   146   69      14
2         3.25         50.0         30.0         2.25   273  141      18
3         2.00         37.0         20.0         2.00   118   51      14
4         1.00         21.0         13.0         1.00   109   57      10

   w..1  Unnamed: 22
0     3            5
1     6            7
2     9           12
3     5            6
4     5            4

[5 rows x 23 columns]

In [65]:
# For earn by country district data file
file_name = 'data/einkommen/vgrdl_r2b3_bs2023.xlsx'
sheet_name = '2.4'
data_earn_deu = pd.read_excel(
        file_name,
        sheet_name=sheet_name,
        header=4
    )
print(data_earn_deu.head())

   Lfd. Nr. EU-Code  Regional-schlüssel Land  NUTS 1  NUTS 2  NUTS 3  \
0       NaN     NaN                 NaN  NaN     NaN     NaN     NaN
1       1.0     DE1                 8.0   BW     1.0     NaN     NaN
2       2.0    DE11                81.0   BW     NaN     2.0     NaN
3       3.0   DE111              8111.0   BW     NaN     NaN     3.0
4       4.0   DE112              8115.0   BW     NaN     NaN     3.0

                            Gebietseinheit   1995   1996  ...     2013  \
0                                      NaN    NaN    NaN  ...      NaN
1                        Baden-Württemberg  15430  15736  ...  22365.0
2              Stuttgart, Regierungsbezirk  16062  16370  ...  23116.0
3  Stuttgart, Landeshauptstadt, Stadtkreis  17883  18210  ...  23555.0
4                     Böblingen, Landkreis  16465  16898  ...  23261.0

      2014     2015     2016     2017     2018     2019     2020     2021  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1  22920.0  23206.0  23755.0  24467.0  25214.0  25381.0  25388.0  25994.0
2  23620.0  23836.0  24456.0  25304.0  25730.0  25930.0  25730.0  26377.0
3  24222.0  24358.0  24788.0  25665.0  26334.0  26203.0  26235.0  27061.0
4  23741.0  24248.0  24481.0  25065.0  26034.0  26398.0  26395.0  27118.0

      2022
0      NaN
1  27429.0
2  27897.0
3  29202.0
4  28319.0

[5 rows x 36 columns]